.desktop-1
{
position:absolute;
background-color:#ffffff;
height:1024px;
width:1440px;
padding:0px;
}
.frame2
{
height:219px;
width:1435px;
padding:0px;
top:39px;
position:relative;
}
.vector1
{
height:219px;
width:1435px;
filter:drop-shadow(4px 4px 5px rgba(0,0,0,0.25));
}
.välkommen
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:70px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:9px;
left:20px;
position:absolute;
width:405px;
}
.jelenayh-uddevalla:e-commerceproductmanager.
{
color:#ffffff;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:43px;
left:35px;
position:absolute;
width:266px;
}
.frame3
{
background-color:#ffffff;
height:252px;
width:842px;
padding:0px;
left:52px;
top:289px;
position:relative;
}
.loremipsumdolorsitamet,consecteturadipiscingelit.vivamusaliquetvenenatisnullasedaliquam.crasliberometus,blanditvelcommodoac,maximussedmi.integerfringilladapibussapien,sedmalesuadaenim.suspendissetristiqueefficiturerosveltincidunt.maecenasdapibuseratquisvehiculaaliquet.nammalesuadapuruseuturpisfinibus,ethendrerittortorvestibulum.nullamlobortisantevitaeestcommodo,incursusmetusblandit.maurisidvelitdui.suspendisseamassanibh.integermaximus,lectusvitaemalesuadadictum,loremloremcursusfelis,egetfringillaelitmaurisvitaelibero.pellentesqueexodio,iaculisidplaceratnec,volutpatutleo.proinneclacusdictum,placeratdiamnon,dictummi.inpulvinarnequeaugue,utaliquamdiamauctoreu.sedvelmattisest,inmaximusfelis.integervitaepurusviverra,condimentumturpissitamet,elementumturpis.etiamegestasturpisnonmagnafringilla,aiaculislacusaliquet.nullautauctorneque.pellentesquesemperlobortisodio,nontempusmaurisultriciesid.proinnecduimolestieestdignissimmalesuadautacnibh.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:70px;
left:16px;
position:absolute;
width:802px;
}
.ommig
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:29px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:24px;
left:16px;
position:absolute;
width:108px;
}
.frame4
{
background-color:#ffffff;
height:157px;
width:842px;
padding:0px;
left:52px;
top:563px;
position:relative;
}
.loremipsumdolorsitamet,consecteturadipiscingelit.vivamusaliquetvenenatisnullasedaliquam.crasliberometus,blanditvelcommodoac,maximussedmi.integerfringilladapibussapien,sedmalesuadaenim.suspendissetristiqueefficiturerosveltincidunt.maecenasdapibuseratquisvehiculaaliquet.nammalesuadapuruseuturpisfinibus,ethendrerittortorvestibulum.nullamlobortisantevitaeesttorneque.pellentesquesemperlobortiempusmaurisultriciesid.proinnecduimolestieestdignissimmalesuadautacnibh.
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:72px;
left:8px;
position:absolute;
width:815px;
}
.minakunskaperärfåmenstora
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:29px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:18px;
left:8px;
position:absolute;
width:441px;
}
.screenshot_20231026_091436_snapchat1
{
height:718px;
width:447px;
left:2112px;
top:896px;
position:absolute;
}
.frame5
{
height:100px;
width:818px;
padding:0px;
left:64px;
top:900px;
position:relative;
}
.group1
{
width:45px;
height:65px;
top:13px;
left:26px;
position:absolute;
}
.rectangle1
{
background-color:#d9d9d9;
height:65px;
width:45px;
filter:drop-shadow(0px 4px 4px rgba(0,0,0,0.25));
border-radius:7px;
border:1px solid #ffffff;
top:13px;
left:26px;
position:absolute;
}
.ellipse1
{
background-color:#ffffff;
height:4.863945484161377px;
width:4.949999809265137px;
left:45.8px;
top:71.49px;
position:absolute;
}
.rectangle2
{
background-color:#000000;
height:54px;
width:35px;
border-radius:3px;
top:17px;
left:31px;
position:absolute;
}
.ellipse2
{
background-color:#313131;
height:1.768707513809204px;
width:1.7999999523162842px;
top:18.3px;
left:47.6px;
position:absolute;
border-radius:50%;
}
.ellipse3
{
background-color:#d6d6d6;
height:0.442176878452301px;
width:0.44999998807907104px;
top:18.74px;
left:48.5px;
position:absolute;
border-radius:50%;
}
.kontaktamig:073-5555-555
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:32px;
left:80px;
position:absolute;
width:90px;
}
.e-post:trollgumman@trollis.se
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:31px;
left:330px;
position:absolute;
width:138px;
}
.@2
{
color:#000000;
text-align:left;
vertical-align:text-top;
font-size:41px;
font-family:Inter;
line-height:auto;
border-style:hidden;
outline:none;
top:17px;
left:272px;
position:absolute;
width:58px;
}
