body {
  background-color: lightpurple;
}

h1 {
  color: black;
  text-align: center;
}

h2{
  color: red;
  text-align: center;
}
h1 {
  color: pink;
  text-align: center;
}

p {
  font-family: Helvetica;
  font-size: 25px;
}
* {
  box-sizing: border-box;
}
