body {
  background-color: purple;
}

h1 {
  color: white;
  text-align: center;
}

h2{
  color: red;
  text-align: center;
}
h3 {
  color: pink;
  text-align: center;
}

p {
color: orange;
  font-family: Helvetica;
  font-size: 36px;
}
* {
  box-sizing: border-box;
}
